<div id="content" class="content">
    <form action="{{ upload }}" id="action" method="post" enctype="multipart/form-data">
        <div id="dragAndDropHandler" class="dd-wrap">
            <h1 class="dd-text text-center">Drag &amp; Drop Files Here</h1>
        </div>
        <div class="selectFile">
            <label for="file">Select file</label>
            <input type="file" name="file" id="file">
        </div>
        <div class="row text-center">
            <p id="file-name"></p>
        </div>
        <div class="text-center">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>