{% extends 'layout.twig' %}
{% block body %}
    <div class="wrapper">
        <form action="{{ form.action }}" id="action" method="{{ form.method }}" class="inline-block"
              enctype="multipart/form-data">
            <div class="file-upload">
                <input type="file" name="file"/>
                <i class="fa fa-arrow-up"></i>
            </div>
        </form>
    </div>
    </div>
{% endblock body %}