<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block favicon %}
        <link rel="icon" type="image/png" href="/img/favicon.png">
    {% endblock favicon %}
    {% block styles %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    {% endblock styles %}
    {% block head_links %}
    {% endblock head_links %}
    {% block head_metas %}
    {% endblock head_metas %}
    {% block title %}
        <title>Home Page</title>
    {% endblock title %}
</head>
<body>
{% block left_sidebar %}
    <nav class="main-menu">
        <ul>
            {% block menu_elements %}
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="/sign">
                    <i class="fa fa-sign-in fa-2x"></i>
                    <span class="nav-text">Sign in / Sign up</span>
                </a>
            </li>
            {% endblock menu_elements %}
        </ul>
    </nav>
{% endblock left_sidebar %}
{% block body %}
{% endblock body %}
{% block file_list %}
{% endblock file_list %}
{% block right_sidebar %}
<div class="right-sidebar">
    <div class="uploads-container">
        {% block uploaded_files %}
        {% endblock uploaded_files %}
    </div>
</div>
{% endblock right_sidebar %}
<footer>
    {% block scripts %}
        <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="/js/app.js" async=""></script>
    {% endblock scripts %}
</footer>
</body>
</html>